<div class="grid gap-y-5">
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
    <p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel><p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel><p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel><p-panel>
        <p class="m-0">
            Lorem ipsum dolor sit amet...
        </p>
    </p-panel>
</div>