<div class="card flex justify-center">
    <p-select name="searchField" ngDefaultControl [options]="searchResults" placeholder="Search game or channel"
        [editable]="true" class="w-full md:w-80" [loading]="isLoading" (onChange)="onChange($event)">
        <ng-template let-item #item>
            <span class="inline-flex gap-1.5 items-center">
                <ng-container *ngIf="item.broadcasterLogin; else game">
                    <img class="w-8" [src]="item.thumbnailUrl" /><span>{{item.displayName}}</span>
                </ng-container>
                <ng-template #game>
                    <img class="w-8" [src]="item.boxArtUrl" /> <span>{{item.name}}</span>
                </ng-template>
            </span>
        </ng-template>
    </p-select>
</div>